.App {
    font-family: sans-serif;
    text-align: center;
    font-size: large;
  }
  
  /* SOCIAL STUFF */
  .social-container {
    font-size: small;
    font-style: italic;
    text-align: center;
  }
  a.social {
    margin: 0 2rem;
    transition: transform 250ms;
    display: inline-block;
   
    
  }
  
  a.social:hover {
    transform: translateY(-4px);
  }
  
  a.youtube {
    color: #eb3223;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: black;
  }
  a.whatsapp {
    color: rgb(66, 224, 87);
  }
  